Repository apache/openwhisk, pull requests merged in 2019-07, with the labels that each got.

#4566 Remove Incubator(ing, tion) references and DISCLAIMER
  CONTRIBUTING.md
  DISCLAIMER.txt
  README.md
  docs/README.md
  docs/dev/modules.md
Labels: documentation

#4424 Delete pod when creating timeout
  core/invoker/src/main/scala/org/apache/openwhisk/core/containerpool/kubernetes/KubernetesClient.scala
  core/invoker/src/main/scala/org/apache/openwhisk/core/containerpool/kubernetes/KubernetesContainer.scala
  tests/src/test/scala/org/apache/openwhisk/core/containerpool/kubernetes/test/KubernetesClientTests.scala
  tests/src/test/scala/org/apache/openwhisk/core/containerpool/kubernetes/test/KubernetesContainerTests.scala
Labels: invoker, kubernetes, review

#4314 CosmosDB Cache Invalidation Service
  common/scala/src/main/resources/logback.xml
  common/scala/src/main/scala/org/apache/openwhisk/common/ExecutorCloser.scala
  core/cosmosdb/cache-invalidator/.dockerignore
  core/cosmosdb/cache-invalidator/Dockerfile
  core/cosmosdb/cache-invalidator/README.md
  core/cosmosdb/cache-invalidator/build.gradle
  core/cosmosdb/cache-invalidator/docker-compose.yml
  core/cosmosdb/cache-invalidator/init.sh
  core/cosmosdb/cache-invalidator/src/main/resources/application.conf
  core/cosmosdb/cache-invalidator/src/main/resources/reference.conf
  core/cosmosdb/cache-invalidator/src/main/resources/whisk-logback.xml
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/CacheInvalidator.scala
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/CacheInvalidatorConfig.scala
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/ChangeFeedListener.scala
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/KafkaEventProducer.scala
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/Main.scala
  core/cosmosdb/cache-invalidator/src/main/scala/org/apache/openwhisk/core/database/cosmosdb/cache/WhiskChangeEventObserver.scala
  settings.gradle
  tests/build.gradle
  tests/src/test/resources/logback-test.xml
  tests/src/test/scala/org/apache/openwhisk/core/database/cosmosdb/CosmosDBTestSupport.scala
  tests/src/test/scala/org/apache/openwhisk/core/database/cosmosdb/cache/CacheInvalidatorTests.scala
  tests/src/test/scala/org/apache/openwhisk/core/database/cosmosdb/cache/WhiskChangeEventObserverTests.scala
Labels: cosmosdb
